#### Creator: Wes McKinney, a data scientist and software developer, created pandas in 2008

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("sales_data_sample.csv", encoding="latin1")
print(df)

      ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0           10107               30      95.70                2  2871.00
1           10121               34      81.35                5  2765.90
2           10134               41      94.74                2  3884.34
3           10145               45      83.26                6  3746.70
4           10159               49     100.00               14  5205.27
...           ...              ...        ...              ...      ...
2818        10350               20     100.00               15  2244.40
2819        10373               29     100.00                1  3978.51
2820        10386               43     100.00                4  5417.57
2821        10397               34      62.24                1  2116.16
2822        10414               47      65.52                9  3079.44

            ORDERDATE    STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0      2/24/2003 0:00   Shipped       1         2     2003  ...
1       5/7/2003 0:00   Shipped       2         5     2003  ...
2       7/1/2003 0:00   Shipped       3         7     2003  ...
3      8/25/2003 0:00   Shipped       3         8     2003  ...
4     10/10/2003 0:00   Shipped       4        10     2003  ...
...               ...       ...     ...       ...      ...  ...
2818   12/2/2004 0:00   Shipped       4        12     2004  ...
2819   1/31/2005 0:00   Shipped       1         1     2005  ...
2820    3/1/2005 0:00  Resolved       1         3     2005  ...
2821   3/28/2005 0:00   Shipped       1         3     2005  ...
2822    5/6/2005 0:00   On Hold       2         5     2005  ...

                       ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0           897 Long Airport Avenue           NaN            NYC    NY
1                59 rue de l'Abbaye           NaN          Reims   NaN
2     27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3                78934 Hillside Dr.           NaN       Pasadena    CA
4                   7734 Strong St.           NaN  San Francisco    CA
...                             ...           ...            ...   ...
2818             C/ Moralzarzal, 86           NaN         Madrid   NaN
2819                    Torikatu 38           NaN           Oulu   NaN
2820             C/ Moralzarzal, 86           NaN         Madrid   NaN
2821          1 rue Alsace-Lorraine           NaN       Toulouse   NaN
2822             8616 Spinnaker Dr.           NaN         Boston    MA

     POSTALCODE  COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0         10022      USA       NaN              Yu             Kwai    Small
1         51100   France      EMEA         Henriot             Paul    Small
2         75508   France      EMEA        Da Cunha           Daniel   Medium
3         90003      USA       NaN           Young            Julie   Medium
4           NaN      USA       NaN           Brown            Julie   Medium
...         ...      ...       ...             ...              ...      ...
2818      28034    Spain      EMEA          Freyre            Diego    Small
2819      90110  Finland      EMEA       Koskitalo           Pirkko   Medium
2820      28034    Spain      EMEA          Freyre            Diego   Medium
2821      31000   France      EMEA          Roulet          Annette    Small
2822      51003      USA       NaN         Yoshido             Juri   Medium

[2823 rows x 25 columns]

In [5]:
df = pd.read_excel("SampleSuperstore.xlsx", sheet_name="Orders")
print(df)

      Row ID        Order ID Order Date  Ship Date       Ship Mode  \
0          1  CA-2016-152156 2016-11-08 2016-11-11    Second Class
1          2  CA-2016-152156 2016-11-08 2016-11-11    Second Class
2          3  CA-2016-138688 2016-06-12 2016-06-16    Second Class
3          4  US-2015-108966 2015-10-11 2015-10-18  Standard Class
4          5  US-2015-108966 2015-10-11 2015-10-18  Standard Class
...      ...             ...        ...        ...             ...
9989    9990  CA-2014-110422 2014-01-21 2014-01-23    Second Class
9990    9991  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9991    9992  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9992    9993  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9993    9994  CA-2017-119914 2017-05-04 2017-05-09    Second Class

     Customer ID     Customer Name    Segment        Country             City  \
0       CG-12520       Claire Gute   Consumer  United States        Henderson
1       CG-12520       Claire Gute   Consumer  United States        Henderson
2       DV-13045   Darrin Van Huff  Corporate  United States      Los Angeles
3       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
4       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
...          ...               ...        ...            ...              ...
9989    TB-21400  Tom Boeckenhauer   Consumer  United States            Miami
9990    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9991    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9992    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9993    CC-12220      Chris Cortes   Consumer  United States      Westminster

      ... Postal Code  Region       Product ID         Category Sub-Category  \
0     ...       42420   South  FUR-BO-10001798        Furniture    Bookcases
1     ...       42420   South  FUR-CH-10000454        Furniture       Chairs
2     ...       90036    West  OFF-LA-10000240  Office Supplies       Labels
3     ...       33311   South  FUR-TA-10000577        Furniture       Tables
4     ...       33311   South  OFF-ST-10000760  Office Supplies      Storage
...   ...         ...     ...              ...              ...          ...
9989  ...       33180   South  FUR-FU-10001889        Furniture  Furnishings
9990  ...       92627    West  FUR-FU-10000747        Furniture  Furnishings
9991  ...       92627    West  TEC-PH-10003645       Technology       Phones
9992  ...       92627    West  OFF-PA-10004041  Office Supplies        Paper
9993  ...       92683    West  OFF-AP-10002684  Office Supplies   Appliances

                                           Product Name     Sales  Quantity  \
0                     Bush Somerset Collection Bookcase  261.9600         2
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2     Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3         Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                        Eldon Fold 'N Roll Cart System   22.3680         2
...                                                 ...       ...       ...
9989                             Ultra Door Pull Handle   25.2480         3
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.9600         2
9991                              Aastra 57i VoIP phone  258.5760         2
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.6000         4
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.1600         2

      Discount    Profit
0         0.00   41.9136
1         0.00  219.5820
2         0.00    6.8714
3         0.45 -383.0310
4         0.20    2.5164
...        ...       ...
9989      0.20    4.1028
9990      0.00   15.6332
9991      0.20   19.3932
9992      0.00   13.3200
9993      0.00   72.9480

[9994 rows x 21 columns]

In [4]:
pd2 = pd.read_json("sample_Data.json")
print(pd2)

    id                                               name  \
0    1                                    Apple iPhone 12
1    2                                 Samsung Galaxy S21
2    3                                 Sony PlayStation 5
3    4                  LG OLED55CXPUA 55-inch 4K OLED TV
4    5        Bose QuietComfort 35 II Wireless Headphones
5    6                          Fitbit Versa 3 Smartwatch
6    7                             KitchenAid Stand Mixer
7    8                 Dyson V11 Absolute Cordless Vacuum
8    9                         Ninja Foodi Smart XL Grill
9   10                    Canon EOS Rebel T8i DSLR Camera
10  11                                  Apple AirPods Pro
11  12        Bose QuietComfort 35 II Wireless Headphones
12  13                    Fitbit Charge 4 Fitness Tracker
13  14                              Samsung Galaxy Watch3
14  15  Sony WH-1000XM4 Wireless Noise-Cancelling Head...
15  16          Breville Barista Express Espresso Machine
16  17                        Keurig K-Elite Coffee Maker
17  18                     iRobot Roomba i7+ Robot Vacuum
18  19                   Ninja Foodi Digital Air Fry Oven
19  20                   Cuisinart ICE-70 Ice Cream Maker

                                          description    price  \
0   The Apple iPhone 12 features a 6.1-inch Super ...   999.00
1   The Samsung Galaxy S21 features a 6.2-inch Dyn...   799.00
2   The Sony PlayStation 5 features an AMD Zen 2-b...   499.99
3   The LG OLED55CXPUA 55-inch 4K OLED TV features...  1599.99
4   The Bose QuietComfort 35 II Wireless Headphone...   299.00
5   The Fitbit Versa 3 Smartwatch features a built...   229.95
6   The KitchenAid Stand Mixer features a 5-quart ...   399.99
7   The Dyson V11 Absolute Cordless Vacuum feature...   699.99
8   The Ninja Foodi Smart XL Grill features 6-in-1...   279.99
9   The Canon EOS Rebel T8i DSLR Camera features a...   899.00
10  The Apple AirPods Pro feature active noise can...   249.00
11  The Bose QuietComfort 35 II Wireless Headphone...   299.00
12  The Fitbit Charge 4 Fitness Tracker features G...   129.95
13  The Samsung Galaxy Watch3 features a rotating ...   399.99
14  The Sony WH-1000XM4 Wireless Noise-Cancelling ...   349.99
15  The Breville Barista Express Espresso Machine ...   699.95
16  The Keurig K-Elite Coffee Maker features a str...   169.99
17  The iRobot Roomba i7+ Robot Vacuum features au...   799.99
18  The Ninja Foodi Digital Air Fry Oven features ...   209.99
19  The Cuisinart ICE-70 Ice Cream Maker features ...   139.99

           category                                              image
0       Electronics  https://www.apple.com/newsroom/images/product/...
1       Electronics  https://images.samsung.com/is/image/samsung/p6...
2       Electronics  https://www.sony.com/image/44baa604124b770c824...
3       Electronics  https://www.lg.com/us/images/tvs/md07501804/ga...
4       Electronics  https://assets.bose.com/content/dam/Bose_DAM/W...
5       Electronics  https://www.fitbit.com/global/content/dam/fitb...
6    Home & Kitchen  https://www.kitchenaid.com/content/dam/global/...
7   Home Appliances  https://www.dysoncanada.ca/dam/dyson/images/pr...
8    Home & Kitchen  https://www.ninjakitchen.com/medias/Ninja-OP50...
9       Electronics  https://www.canon.com.au/-/media/images/produc...
10      Electronics  https://www.apple.com/v/airpods-pro/b/images/m...
11      Electronics  https://assets.bose.com/content/dam/Bose_DAM/W...
12      Electronics  https://www.fitbit.com/global/content/dam/fitb...
13      Electronics  https://images.samsung.com/is/image/samsung/as...
14      Electronics  https://www.sony.com/image/1cdd6354c4cd21cc4f7...
15   Home & Kitchen  https://www.breville.com/content/dam/breville/...
16   Home & Kitchen  https://www.keurig.com/content/dam/global-ecom...
17   Home & Kitchen  https://store.irobot.com/default/i7-vacuuming-...
18   Home & Kitchen  https://www.ninjakitchen.com/static/img/produc...
19   Home & Kitchen  https://www.cuisinart.com/share/images/product...

In [5]:
data = {
    "Name": ["Jai", "Princi", "Gaurav", "Anuj"],
    "Age": [27, 24, 22, 32],
    "City": ["Delhi", "Kanpur", "Allahabad", "Kannauj"],
}

df = pd.DataFrame(data)  
print(df)

# df.to_csv("Output.csv",index=False)
df.to_excel("output.xlsx", engine="openpyxl", index=False)
# df.to_json("output.json",index=False)

     Name  Age       City
0     Jai   27      Delhi
1  Princi   24     Kanpur
2  Gaurav   22  Allahabad
3    Anuj   32    Kannauj

In [ ]:
df = pd.read_json("sample_Data.json")
# print(df)


#head() and tail() default 5 rows
print("Display 10 rows of first")
print(df.head(10))

print("\nDisplay 10 rows of last")
print(df.tail(10))

Display 10 rows of first
   id                                         name  \
0   1                              Apple iPhone 12
1   2                           Samsung Galaxy S21
2   3                           Sony PlayStation 5
3   4            LG OLED55CXPUA 55-inch 4K OLED TV
4   5  Bose QuietComfort 35 II Wireless Headphones

                                         description    price     category  \
0  The Apple iPhone 12 features a 6.1-inch Super ...   999.00  Electronics
1  The Samsung Galaxy S21 features a 6.2-inch Dyn...   799.00  Electronics
2  The Sony PlayStation 5 features an AMD Zen 2-b...   499.99  Electronics
3  The LG OLED55CXPUA 55-inch 4K OLED TV features...  1599.99  Electronics
4  The Bose QuietComfort 35 II Wireless Headphone...   299.00  Electronics

                                               image
0  https://www.apple.com/newsroom/images/product/...
1  https://images.samsung.com/is/image/samsung/p6...
2  https://www.sony.com/image/44baa604124b770c824...
3  https://www.lg.com/us/images/tvs/md07501804/ga...
4  https://assets.bose.com/content/dam/Bose_DAM/W...

Display 10 rows of last
    id                                               name  \
10  11                                  Apple AirPods Pro
11  12        Bose QuietComfort 35 II Wireless Headphones
12  13                    Fitbit Charge 4 Fitness Tracker
13  14                              Samsung Galaxy Watch3
14  15  Sony WH-1000XM4 Wireless Noise-Cancelling Head...
15  16          Breville Barista Express Espresso Machine
16  17                        Keurig K-Elite Coffee Maker
17  18                     iRobot Roomba i7+ Robot Vacuum
18  19                   Ninja Foodi Digital Air Fry Oven
19  20                   Cuisinart ICE-70 Ice Cream Maker

                                          description   price        category  \
10  The Apple AirPods Pro feature active noise can...  249.00     Electronics
11  The Bose QuietComfort 35 II Wireless Headphone...  299.00     Electronics
12  The Fitbit Charge 4 Fitness Tracker features G...  129.95     Electronics
13  The Samsung Galaxy Watch3 features a rotating ...  399.99     Electronics
14  The Sony WH-1000XM4 Wireless Noise-Cancelling ...  349.99     Electronics
15  The Breville Barista Express Espresso Machine ...  699.95  Home & Kitchen
16  The Keurig K-Elite Coffee Maker features a str...  169.99  Home & Kitchen
17  The iRobot Roomba i7+ Robot Vacuum features au...  799.99  Home & Kitchen
18  The Ninja Foodi Digital Air Fry Oven features ...  209.99  Home & Kitchen
19  The Cuisinart ICE-70 Ice Cream Maker features ...  139.99  Home & Kitchen

                                                image
10  https://www.apple.com/v/airpods-pro/b/images/m...
11  https://assets.bose.com/content/dam/Bose_DAM/W...
12  https://www.fitbit.com/global/content/dam/fitb...
13  https://images.samsung.com/is/image/samsung/as...
14  https://www.sony.com/image/1cdd6354c4cd21cc4f7...
15  https://www.breville.com/content/dam/breville/...
16  https://www.keurig.com/content/dam/global-ecom...
17  https://store.irobot.com/default/i7-vacuuming-...
18  https://www.ninjakitchen.com/static/img/produc...
19  https://www.cuisinart.com/share/images/product...

In [ ]:
'''
1 - column, rows? 
2 - what type of
3 - missing data

info() - summarise your data set
method

1- number of rows and columns
2 - column name
3 - ini64 null counts
4 - non null counts
5 - memory usage of the data frame
'''

df = pd.read_json("sample_Data.json")

print("Display the info of data set")
print(df.info())

Display the info of data set
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           20 non-null     int64
 1   name         20 non-null     object
 2   description  20 non-null     object
 3   price        20 non-null     float64
 4   category     20 non-null     object
 5   image        20 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 1.1+ KB
None

In [3]:
#check small data info

data = {
    "Name": ["Jai", "Princi", "Gaurav", "Anuj"],
    "Age": [27, 24, 22, 32],
    "City": ["Delhi", "Kanpur", "Allahabad", "Kannauj"],
}

df = pd.DataFrame(data)

print("Displaying the info of data set: ")
print(df.info())

Displaying the info of data set:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   City    4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes
None

In [ ]:
#describe - 

#step -1 sample data frame
'''
describe show the information of data which is -
count  
mean   
std    
min    
25%    
50%    
75%    
max
'''

data = {
    "Name":["Ram","Shyam","Ghanshym","Dhanshyam","Aditya","Jagdish","Raj","Simran"],
    "Age":[28,20,39,32,52,60,25,63],
    "Salary":[50000,60000,45000,49000,70000,48000,35000,22000],
    "Performance Score":[85,98,78,92,88,95,80,89]
}

df = pd.DataFrame(data)

print("Sample data frame: ")
print(df)
print("Descriptive Statistics")
print(df.describe())

Sample data frame:
        Name  Age  Salary  Performance Score
0        Ram   28   50000                 85
1      Shyam   20   60000                 98
2   Ghanshym   39   45000                 78
3  Dhanshyam   32   49000                 92
4     Aditya   52   70000                 88
5    Jagdish   60   48000                 95
6        Raj   25   35000                 80
7     Simran   63   22000                 89
Descriptive Statistics
             Age        Salary  Performance Score
count   8.000000      8.000000           8.000000
mean   39.875000  47375.000000          88.125000
std    16.504869  14559.606549           6.957781
min    20.000000  22000.000000          78.000000
25%    27.250000  42500.000000          83.750000
50%    35.500000  48500.000000          88.500000
75%    54.000000  52500.000000          92.750000
max    63.000000  70000.000000          98.000000

In [ ]:
#shape ad columns

data = {
    "Name":["Ram","Shyam","Ghanshym","Dhanshyam","Aditya","Jagdish","Raj","Simran"],
    "Age":[28,20,39,32,52,60,25,63],
    "Salary":[50000,60000,45000,49000,70000,48000,35000,22000],
    "Performance Score":[85,98,78,92,88,95,80,89]
}


df = pd.DataFrame(data)
print(f"Shape: {df.shape}")  #how many rows and columns
print(f"Columns: {df.columns}")

Shape: (8, 4)
Columns: Index(['Name', 'Age', 'Salary', 'Performance Score'], dtype='object')

In [ ]:
'''
1- select specific column
2- filter rows
3- combine multiple conditions

1- square brackets
2- boolean conditions

selecting columns
1- a series
2- dataframe mulitple columns of data

column = df["column Name"]
subset = df["col1","col2","..."]


filtering rows
boolean indexing

#based on a single condition in rows
filtered_rows = df[df["Salary"] > 50000]

#combine multiple conditions
filtered_rows = df[(df["salary] > 50000) & (df["column2"] < 80000)]
'''

data = {
    "Name":["Ram","Shyam","Ghanshym","Dhanshyam","Aditya","Jagdish","Raj","Simran"],
    "Age":[28,20,39,32,52,60,25,63],
    "Salary":[50000,60000,45000,49000,70000,48000,35000,22000],
    "Performance Score":[85,98,78,92,88,95,80,89]
}

df = pd.DataFrame(data)

print("Sample DataFrame")
print(df)

print("\n\nNames (single column returns series)")
print(df["Name"])

#selecting multiple columns
subset = df[["Name", "Salary"]]
print("\n\nSubset with Name and salary")
print(subset)

Sample DataFrame
        Name  Age  Salary  Performance Score
0        Ram   28   50000                 85
1      Shyam   20   60000                 98
2   Ghanshym   39   45000                 78
3  Dhanshyam   32   49000                 92
4     Aditya   52   70000                 88
5    Jagdish   60   48000                 95
6        Raj   25   35000                 80
7     Simran   63   22000                 89


Names (single column returns series)
0          Ram
1        Shyam
2     Ghanshym
3    Dhanshyam
4       Aditya
5      Jagdish
6          Raj
7       Simran
Name: Name, dtype: object


Subset with Name and salary
        Name  Salary
0        Ram   50000
1      Shyam   60000
2   Ghanshym   45000
3  Dhanshyam   49000
4     Aditya   70000
5    Jagdish   48000
6        Raj   35000
7     Simran   22000

In [23]:
#rows filter

data = {
    "Name":["Ram","Shyam","Ghanshym","Dhanshyam","Aditya","Jagdish","Raj","Simran"],
    "Age":[28,34,22,30,29,40,25,32],
    "Salary":[50000,60000,45000,52000,49000,70000,48000,58000],
    "Performance_Score":[85,98,78,92,88,95,80,89]
}

df = pd.DataFrame(data)

high_salary = df[df["Salary"] > 50000]
print("Employees with salary > 50000")
print(high_salary)

#multiple conditions
filtered = df[(df['Age'] > 30) & (df["Salary"] > 50000)]
print("\n\nEmployees list age > 30 and salary > 50000")
print(filtered)


#uisng OR condition
filtered_or = df[(df["Age"] > 35) | (df["Performance_Score"] > 90)]
print("\n\nEmployees older than 35 or performance score above 90")
print(filtered_or)

Employees with salary > 50000
        Name  Age  Salary  Performance_Score
1      Shyam   34   60000                 98
3  Dhanshyam   30   52000                 92
5    Jagdish   40   70000                 95
7     Simran   32   58000                 89


Employees list age > 30 and salary > 50000
      Name  Age  Salary  Performance_Score
1    Shyam   34   60000                 98
5  Jagdish   40   70000                 95
7   Simran   32   58000                 89


Employees older than 35 or performance score above 90
        Name  Age  Salary  Performance_Score
1      Shyam   34   60000                 98
3  Dhanshyam   30   52000                 92
5    Jagdish   40   70000                 95